<div class="game">
   <div class="tab">
   <div *ngFor="let quest of randomNums;index as i" id="{{i}}">
      <img class="grid" [src]="position === i ? '../../assets/poulet.png'  : quest.img">
   </div>
</div>
<button  (click)="randomNumber($event)">Lancer le dé</button>
<button  (click)="reset()">revenir à la position 0</button>
<div>{{sentence}}</div>
<p> résultat du dé :{{value}} <br>
postion acutelle : {{position}}</p>
<app-quizz [question]="randomNums[finalPosition]" [position]="finalPosition"></app-quizz>
</div>
<router-outlet></router-outlet>
